@import "tailwindcss";
@theme {
  --breakpoint-*: initial;
  --breakpoint-2xl: 1580px;
  --breakpoint-xl: 1366px;
  --breakpoint-mlg: 1280px;
  --breakpoint-lg: 1024px;
  --breakpoint-md: 767px;
  --breakpoint-sm: 480px;
}
body {
  font-family: "Poppins", sans-serif;
}
::placeholder{color: #666666;}
/* common */
.my-container {
  width: 100%;
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

.btn-pri {
  background-color: #352AA4;
  color: #fff;
  font-size: 16px;
  border-radius: 32px;
  padding: 12px 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btn-pri:hover {
  background-color: #1b1555;
}
.btn-sec {
  background-color: #fff;
  color: #352AA4;
  border: 1px solid #352AA4;
  font-size: 16px;
  border-radius: 32px;
  padding: 12px 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btn-sec:hover {
  background-color: #1b1555;
  color: #fff;
}


/* sidebar */
 .sidebar-link{display: flex; color: #4896FF; padding: 16px 30px; gap: 16px;}
 .sidebar-link.active{background-color: rgba(21, 201, 201, 0.30); color: #352AA4; border-left: 3px solid #352AA4;}


 @media only screen and (max-width: 767px) {
.overflow-x-auto table.min-w-full{
  min-width: 767px;
}
.btn-pri {
  background-color: #352AA4;
  color: #fff;
  font-size: 14px;
  border-radius: 32px;
  padding: 8px 14px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btn-pri:hover {
  background-color: #1b1555;
}
.btn-sec {
  background-color: #fff;
  color: #352AA4;
  border: 1px solid #352AA4;
  font-size: 14px;
  border-radius: 32px;
  padding: 8px 14px;
  cursor: pointer;
  transition: all 0.4s ease;
}
 }


#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    font-size: 18px;
    outline: none;
    background-color: #fff;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s ease;
      padding: 6px;
    border: 1px solid #001942;
    border-radius: 6px;
}
button.home-fixed-btn {
   position: fixed;
    bottom: 20px;
     left: 20px;
      background: transparent
      ; border: none; }









































